<footer>
    <address>
        <div class="content-logo-footer">
            <a routerLink="/">
            <img class="logo-footer" src="assets/images/zarates-footer.jpg" alt="Logo: Zarate's">
        </a>
        </div>
        
        <a routerLink="direccion:Calle 98 # 21 - 50 Oficina 702">Calle 98 # 21 - 50 Oficina 702</a><br/>
        <a routerLink="mailto:jim@rock.com">info@zaratesagencyweb.com</a><br />
        <a routerLink="tel:+573001003432">(57) 300-100-3432</a><br/>
        <a routerLink="Ciudad:Bogotá D.C.">Bogotá D.C.</a>
    </address>
    <div class="contaner">
        <p>&copy;2023 Todos los derechos Reservados</p>
    </div>
</footer>
