<section id="encabezado">
    <div class="">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/images/slider/slider-1.jpg" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="assets/images/slider/slider-3.jpg" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="assets/images/slider/slider-2.jpg" class="d-block w-100" alt="">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container">
        
        <h1>HACEMOS QUE TU NEGOCIO PERMANEZCA <b> ABIERTO 24 HORAS </b></h1>

        <p id="about-us">Nos especializamos en la creacion, desarrollo, diseño y posicionamiento de la presencia online de tu negocio haciendo que tus necesidades sean trasmitidas y expresadas mediante nuestros diseños responsivos para garantizar que la audiencia adecuada pueda conocer tus servicios, productos, y su intención utilizando las mejores plataformas y lenguajes de programación</p>
    </div>


</section>

<section id="developers">
    <div class="container">
        <h3 id="desarrolladores">Desarrolladores</h3>
        <div class="carta">
                 
            <h4>LUIS EDUARDO ZÁRATE CERVANTES Founder</h4>
            <p class="clearfix">
              <img class="image-zarate image-luis" src="assets/images/luis-zarate.jpg" alt="Foto de luis zarate">
              En Zarates Agency Web mi función se concentra en varios pilares, uno de ellos es la relacion con los clientes y la experiencia de usuario al momento de re cepcionar sus necesidades, desarrollar del diseño preliminar para aprobación y desarrollar el proyecto y pruebas para entrega.  Soy ingeniero con maestría del instituto europeo de postgrado en Science Marketing digital de la red Summa University del estado de la florida Estados unidos, Diseñador web de código abierto con WordPress y Estudiante en Desarrollo Web Fullstack del Bit Bogotá Institute Technology de la Universidad iberoamericana
              <a href="#" class="btn btn-dark clear">Portafolio</a>
            </p>
            
        </div>
        <div class="carta">
            <h4>HERNAN DARIO ZÁRATE CERVANTES Cofounder</h4>
            <p class="clearfix"><img class="image-zarate image-hernan" src="assets/images/hernan-zarate.jpg" alt="Foto de Hernan">En Zarates Agency Web mi función se concentra en el desarrollar del proyecto y pruebas para entrega. Soy Diseñador web de código abierto con WordPress y Estudiante en Desarrollo Web Fullstack del Bit Bogotá Institute Technology de la Universidad iberoamericana
              <a href="#" class="btn btn-dark clear">Portafolio</a>
            
            </p>
            
        </div>
    </div>
</section>
