<form
  class="form form-auth form-login"
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <h2>Crea producto</h2>

  <div class="field">
    <label for="name">Nombre del producto<span>*</span></label>
    <input
      id="name"
      class="input-field"
      type="text"
      formControlName="name"
      placeholder="Ej: Mango"
      minlength="3"
    />
  </div>
  <!--Mensaje de Error-->
  <div
    *ngIf="productForm.get( 'name' )?.invalid && ( productForm.get( 'name' )?.dirty || productForm.get( 'name' )?.touched )"
  >
    <small 
      *ngIf="productForm.get( 'name' )?.errors?.[ 'required' ]"
      class="error-message"
    >Nombre es requerido</small>
    <small
      *ngIf="productForm.get( 'name' )?.errors?.[ 'minlength' ]"
      class="error-message"
    >Minimo de 3 caracteres</small>
  </div>
  <!-- TODO: Colocar los mensajes de error de los campos del formulario -->
  <div class="field">
    <label for="quantity">Cantidad<span>*</span></label>
    <input
      id="quantity"
      class="input-field"
      type="number"
      formControlName="quantity"
      placeholder="Ej: 9"
    />
  </div>
  <div class="field">
    <label for="price">Precio</label>
    <input
      id="price"
      class="input-field"
      type="number"
      formControlName="price"
      placeholder="Ej: 19"
    />
  </div>
  <div class="field">
    <label for="category">Categoria</label>
    <select 
        class="input-field"
        formControlName="category" 
        id="category"
    >
        <option value="" selected>Seleccione...</option>
        <option
            *ngFor="let category of categories"
            [value]="category"
        >{{ category }}</option>
    </select>
  </div>
  <div class="field">
    <label for="image">Url de la imagen del producto</label>
    <input
      id="image"
      class="input-field"
      type="text"
      formControlName="urlImage"
    />
  </div>
  <div class="field">
    <label for="description">Descripcion del producto</label>
    <textarea
      id="description"
      class="input-field"
      formControlName="description"
      placeholder="Ej: Producto delicado"
    ></textarea>
  </div>
  <div class="field">
    <button
      class="btn btn-primary"
      [disabled]="productForm.invalid"
      type="submit"
    >Crear</button>
  </div>

  <div class="errors">
    <h3 class="title-errors">Errors</h3>
    <pre class="error">name: {{ productForm.get( 'name' )?.errors | json }}</pre>
    <pre class="error">price: {{ productForm.get( 'price' )?.errors | json }}</pre>
    <pre class="error">quantity: {{ productForm.get( 'quantity' )?.errors | json }}</pre>
    <pre class="error">category: {{ productForm.get( 'category' )?.errors | json }}</pre>
    <pre class="error">description: {{ productForm.get( 'description' )?.errors | json }}</pre>
    <pre class="error">urlImage: {{ productForm.get( 'urlImage' )?.errors | json }}</pre>
  </div>
</form>